	<!-- Page container -->
	<div class="page-container" @page>

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

        <div class="row">
          <div class="row">
								<div class="col-md-6 col-md-offset-3 text-center">
          <div class="panel bg-info width-500">
                <div class="panel-heading">
                  <h2 class="panel-title">Just one last step ...</h2>
                  
                </div>

                <div class="panel-body">
                  <h4>We have sent you an e-mail to confirm your registration.</h4>
                  
                  <span class="label label-flat label-rounded label-icon border-white text-white-600"><i class="icon-mail-read"></i></span>
                  <p>Please check your inbox</p>
                  <h1>Please note !!!</h1>
                  <p>User will check their signup email and click on the email confirmation link / button and then redirected to the login page</p>
                </div>
          </div>
      </div>
      </div>
        </div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

