<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header" style="padding-left:30px">
			<a class="navbar-brand" routerLink="/buzz"><img src="assets/images/logo.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile" style="padding-right:30px">
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Signup</a></li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container" @page @imganimate>

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Password recovery -->
				<form action="index.html">
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
							<h5 class="content-group">Password reset <small class="display-block">Change your password</small></h5>
						</div>

						<div class="form-group has-feedback">
							<input type="password" class="form-control" placeholder="New password">
							<div class="form-control-feedback">
								<i class="icon-lock2 text-muted"></i>
							</div>
            </div>
            
            <div class="form-group has-feedback">
							<input type="password" class="form-control" placeholder="Retype new password">
							<div class="form-control-feedback">
								<i class="icon-lock2 text-muted"></i>
							</div>
						</div>

						<button type="submit" class="btn bg-blue btn-block">Reset password <i class="icon-arrow-right14 position-right"></i></button>
					</div>
				</form>
				<!-- /password recovery -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

