<!-- Page container -->
<div class="page-container" @page @imganimate @share>
		<!-- Page content -->
		<div class="page-content">
            <!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default sidebar-separate">
				<div class="sidebar-content">
					<!-- User details -->
					
					<div class="content-group">

						<div class="panel-body bg-slate-300 border-radius-top text-center" *ngFor="let w of wee" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
							<div class="content-group-sm">
								<h6 class="text-semibold no-margin-bottom" *ngFor="let u of userDetails">
									{{u.firstname}} {{u.lastname}}
									 
								</h6>

								<span class="display-block">{{w.position}}@<b>{{w.employer}}</b></span>
							</div>

							<a href="#" class="display-inline-block content-group-sm">
								<img src="assets/images/{{w.avatar}}" class="img-circle img-responsive" alt="" style="width: 110px; height: 110px;">
							</a>

							<ul class="list-inline list-inline-condensed no-margin-bottom">
								<li><a href="#" class="btn bg-info btn-rounded btn-icon"><i class="icon-google-drive"></i></a></li>
								<li><a href="#" class="btn bg-violet btn-rounded btn-icon"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="btn bg-grey btn-rounded btn-icon"><i class="icon-github"></i></a></li>
							</ul>
						</div>

						<div class="panel no-border-top no-border-radius-top">
							<ul class="navigation">
								<li class="navigation-header">Navigation</li>
								<li class="active"><a href="#profile" data-toggle="tab"><i class="icon-files-empty"></i> Profile</a></li>
								<li><a href="#schedule" data-toggle="tab"><i class="icon-files-empty"></i> Schedule</a></li>
								<li><a href="#messages" data-toggle="tab"><i class="icon-files-empty"></i> Inbox <span class="badge bg-warning-400">23</span></a></li>
								<li><a href="#orders" data-toggle="tab"><i class="icon-files-empty"></i> Orders</a></li>
								<li class="navigation-divider"></li>
								<li><a href="login_advanced.html"><i class="icon-switch2"></i> Log out</a></li>
							</ul>
						</div>
					</div>
					<!-- /user details -->
					
								<!-- Productivity goal -->
								<div class="panel text-center">
									<div class="panel-body">
										<div class="heading-elements">
											<ul class="icons-list">
						                		<li class="dropdown text-muted">
						                			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="#"><i class="icon-sync"></i> Update data</a></li>
														<li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
														<li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
														<li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
													</ul>
						                		</li>
						                	</ul>
										</div>

										<!-- Progress counter -->
										<div class="content-group-sm svg-center position-relative" id="goal-progress"></div>
										<!-- /progress counter -->

										<!-- Bars -->
										<div id="goal-bars"></div>
										<!-- /bars -->

									</div>
								</div>
								<!-- /productivity goal -->

						

					<!-- Online users -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Online users</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content">
							<ul class="media-list">
								<li class="media">
									<a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-sm img-circle" alt=""></a>
									<div class="media-body">
										<a href="#" class="media-heading text-semibold">James Alexander</a>
										<span class="text-size-mini text-muted display-block">Santa Ana, CA.</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark border-success"></span>
									</div>
								</li>

								<li class="media">
									<a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-sm img-circle" alt=""></a>
									<div class="media-body">
										<a href="#" class="media-heading text-semibold">Jeremy Victorino</a>
										<span class="text-size-mini text-muted display-block">Dowagiac, MI.</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark border-danger"></span>
									</div>
								</li>

								<li class="media">
									<a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-sm img-circle" alt=""></a>
									<div class="media-body">
										<a href="#" class="media-heading text-semibold">Margo Baker</a>
										<span class="text-size-mini text-muted display-block">Kasaan, AK.</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark border-success"></span>
									</div>
								</li>

								<li class="media">
									<a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-sm img-circle" alt=""></a>
									<div class="media-body">
										<a href="#" class="media-heading text-semibold">Beatrix Diaz</a>
										<span class="text-size-mini text-muted display-block">Neenah, WI.</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark border-warning"></span>
									</div>
								</li>

								<li class="media">
									<a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-sm img-circle" alt=""></a>
									<div class="media-body">
										<a href="#" class="media-heading text-semibold">Richard Vango</a>
										<span class="text-size-mini text-muted display-block">Grapevine, TX.</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark border-grey-400"></span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- /online-users -->


					
				</div>
			</div>
            <!-- /main sidebar -->
            
            <!-- Main sidebar -->
			<div class="sidebar sidebar-opposite sidebar-default sidebar-separate">
				<div class="sidebar-content">
					
                    <!-- Latest updates -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Latest updates</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content">
							<ul class="media-list">
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
									</div>

									<div class="media-body">
										Drop the IE <a href="#">specific hacks</a> for temporal inputs
										<div class="media-annotation">4 minutes ago</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
									</div>
									
									<div class="media-body">
										Add full font overrides for popovers and tooltips
										<div class="media-annotation">36 minutes ago</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
										<div class="media-annotation">2 hours ago</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
										<div class="media-annotation">Dec 18, 18:36</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
									</div>
									
									<div class="media-body">
										Have Carousel ignore keyboard events
										<div class="media-annotation">Dec 12, 05:46</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- /latest updates -->

                </div>
			</div>
			<!-- /main sidebar -->

			<!-- Main content -->
			<div class="content-wrapper">


				<!-- Grid -->
				<div class="row">
                    <div class="col-md-8">
				
						 <!-- Share your thoughts -->
						 
						<div class="panel panel-flat fade in">
							
							<div class="panel-heading">
								<h6 class="panel-title">Share your thoughts, video, photos and links</h6>
								<div class="media-left media-middle">
									<a href="#"><img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg" class="img-circle img-md" alt=""></a>
								</div>
		
								<div class="media-body"  *ngFor="let user of userDetails">
									
									<a href="#" class="display-inline-block text-default">{{user.firstname}} {{user.lastname}}</a>
								
									<div class="text-muted text-size-small"><span class="display-block" *ngFor="let addr of user.address"> {{addr[0].city}} @<b>{{addr.state}}</b></span></div>
								</div>
							

								<div class="heading-elements">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-plus"></i>
												</a>
																			
	
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#"><i class="icon-popout"></i> Notifications</a></li>
													<li><a href="#"><i class="icon-embed"></i> Embed video</a></li>
													<li><a href="#"><i class="icon-pin-alt"></i> Show location</a></li>
													<li class="divider"></li>
													<li><a href="#"><i class="icon-cog3"></i> Settings</a></li>
												</ul>
											</li>
										</ul>
									</div>
							</div>


								


							<div class="panel-body">

								

								<!-- Tabs with bottom line -->
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-flat" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
							<div class="panel-heading">
							
								<div class="heading-elements">
									<ul class="icons-list" >
				                		<li><a data-action="close"></a></li>
				                	</ul>
			                	</div>
							</div>

							<div class="panel-body">
								<div class="tabbable" style="position:relative; top:-20px">
									<ul class="nav nav-tabs nav-tabs-bottom">
										<li class="active"><a href="#bottom-tab1" data-toggle="tab">Message</a></li>
										<li><a href="#bottom-tab2" data-toggle="tab">Link</a></li>
										<li><a href="#bottom-tab3" data-toggle="tab">Photo</a></li>
										<li><a href="#bottom-tab4" data-toggle="tab">Video</a></li>
									</ul>
									
									<div class="tab-content">
										<div class="tab-pane active" id="bottom-tab1">
											<form>
												<div class="form-group">
													<textarea name="enter-message" autofocus style="font-size:12px; color:#959494" class="form-control mb-15" rows="3" cols="1" placeholder="Write or paste a link you like to share here !"></textarea>
												</div>
												
												
												<div class="row">
													<div class="col-xs-6">
														
													</div>
			
													<div class="col-xs-6 text-right">
														<input type="submit" value="Submitt"> 
														<button type="button" class="btn btn-primary btn-labeled btn-labeled-right">Share <b><i class="icon-circle-right2"></i></b></button>
													</div>
												</div>
											</form>
										</div>

										<div class="tab-pane" id="bottom-tab2">
												<form>
													<div class="form-group has-feedback has-feedback-left">
															<input type="url" (keyup)="onPaste($event.target.value)" class="form-control" placeholder="http://">
															
															<div class="form-control-feedback">
																<i class="icon-hyperlink text-muted"></i>
															</div>
													</div>
													<div class="content-group">
															
															<img src="{{result.thumbnail_url}}"  class="img-responsive" alt="">
															<h6>{{result.title}}</h6>
															<span style="position:relative; top: -13px" class="text-size-small text-muted">{{result.provider_name}}</span>
															
													</div>
													<input type="text" value="{{result.title}}" class="form-control" placeholder="">
													<input type="text" value="{{memberID}}" class="form-control" placeholder="">
													<div class="form-group">
															<textarea name="enter-message" autofocus style="font-size:12px; color:#959494" class="form-control mb-15" rows="2" cols="1" placeholder="Write your comments here !"></textarea>
													</div>

													<div class="col-xs-6">
															
													</div>
				
													<div class="col-xs-6 text-right">
														<button type="button" class="btn btn-primary btn-labeled btn-labeled-right">Share <b><i class="icon-circle-right2"></i></b></button>
													</div>
													
												</form>
										</div>

										<div class="tab-pane" id="bottom-tab3"> 
											
												<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)" >

														<div id="my-snippet" class="slim" style="width:100%">
																<input type="file" id="myCropper"/>

															</div>

															
															<input formControlName="post_image" id="post_image" value=""  type="text" placeholder="photo">
															
														
														<div class="form-group">
																<textarea name="enter-message" class="form-control mb-15" rows="3" cols="1" placeholder="Type your comment here"></textarea>
														</div>
														
														<div class="col-xs-6">
															<div class="">Image</div>
															
														</div>
					
														<div class="col-xs-6 text-right">
																<button type="submit">Log in</button>
															<button type="button" class="btn btn-primary btn-labeled btn-labeled-right">Share <b><i class="icon-circle-right2"></i></b></button>
														</div>
														
													</form>
												
										</div>

										<div class="tab-pane" id="bottom-tab4">
												<div id="my-snippet1" class="slim" style="width:100%">
														<input type="file" id="myCropper1"/>
													</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						
					</div>

					
				</div>
				<!-- /tabs with bottom line -->

								
								

	                    	</div>
						</div>
                        <!-- /share your thoughts -->
                  
                    <ng-template #other_content></ng-template>
                    
                    
                    
               
                    
                   
                        
                        
						<div class="panel panel-flat">
							<div class="panel-heading">
								<div class="media-left">
										<a href="#"><img src="assets/images/59639c879aa65_team2.jpg" class="img-circle img-md" alt=""></a>
									</div>
								<div class="media-body">
									{{result.provider_name}}	
									
									
										<h6 class="panel-title">Ademola shared this post</h6>
										<div class="heading-elements">
												<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown">
																<i class="icon-menu"></i>
															</a>
		
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-popout"></i> Notifications</a></li>
																<li><a href="#"><i class="icon-embed"></i> Embed video</a></li>
																<li><a href="#"><i class="icon-pin-alt"></i> Show location</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-cog3"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
										</div>
										<span class="text-size-small">Crazilyddd far excited less jeepers and due hit at greyhound tryingly one adjusted cuckoo hamster</span>
								</div>
								<div class="heading-elements">
									<ul class="icons-list">
				                		<li><a data-action="collapse"></a></li>
				                		<li><a data-action="reload"></a></li>
				                		<li><a data-action="close"></a></li>
				                	</ul>
			                	</div>
                            </div>
                            <!-- User details (with sample pattern) -->
						<div class="content-group">
							<img src="assets/images/post2.jpeg"  class="img-responsive" alt="">
                            
						</div>
						<div class="panel-footer panel-footer-transparent">
								<div class="heading-elements">
									<ul class="list-inline heading-text">
										<li><like [isLiked]="post.isLiked" [likeCount]="post.likeCount"></like></li>
										<li><a href="#" class="text-grey-600"><i class="icon-comment text-grey-400 position-left"></i> 1,489</a></li>
										<li><a href="#" class="text-default"><i class="icon-share text-pink position-left"></i> 281</a></li>
									
									</ul>

									<ul class="list-inline heading-text">
										<li><span class="text-default"><follow [isFollow]="post.isFollow" (change)="onLikeChanged($event)"></follow></span></li>
									</ul>

									<a href="#" class="heading-text pull-right">Full article <i class="icon-circle-right2 position-right"></i></a>
								</div>
							</div>
						
						
						
						<!-- /user details (with sample pattern) -->

							<div class="panel-body">
									
								<div class="media">
									<div class="media-left">
										<a href="#"><img src="assets/images/5863cb5a7e3f0_why-you-should-consider-dating-african-girls.jpg" class="img-circle img-xs" alt=""></a>
									</div>

									<div class="media-body">
										
										<h6 class="media-heading text-size-small text-semibold letter-icon-title">This crud hypocritically <span class="media-annotation pull-right">Yesterday, 12:16</span></h6>
										<span class="media-annotation">Ferret on bowed engagingly kangaroo and split contagious far one dear seagull fidgeted some</span>

										<ul class="list-inline mt-5">
											<li>89 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
											<li><a href="#">Reply</a></li>
											<li><a href="#">Edit</a></li>
										</ul>
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<a href="#"><img src="assets/images/5976031aa7186_1.jpg" class="img-circle img-xs" alt=""></a>
									</div>

									<div class="media-body">
										
										<h6 class="media-heading text-size-small text-semibold letter-icon-title">This crud hypocritically <span class="media-annotation pull-right">Yesterday, 12:16</span></h6>
										<span class="media-annotation">Ferret on bowed engagingly kangaroo and split contagious far one dear seagull fidgeted some</span>

										<ul class="list-inline mt-5">
											<li>89 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
											<li><a href="#">Reply</a></li>
											<li><a href="#">Edit</a></li>
										</ul>
									</div>
								</div>
								

							</div>
						</div>

						---------------
						<div class="panel panel-flat">
								<div class="panel-heading">
									<div class="media-left">
											<a href="#"><img src="assets/images/59639c879aa65_team2.jpg" class="img-circle img-md" alt=""></a>
										</div>
									<div class="media-body">
											
										
										
											<h6 class="panel-title">Ademola shared this post</h6>
											<div class="heading-elements">
												<ul class="icons-list">
													<li class="dropdown">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown">
															<i class="icon-menu"></i>
														</a>
	
														<ul class="dropdown-menu dropdown-menu-right">
															<li><a href="#"><i class="icon-popout"></i> Notifications</a></li>
															<li><a href="#"><i class="icon-embed"></i> Embed video</a></li>
															<li><a href="#"><i class="icon-pin-alt"></i> Show location</a></li>
															<li class="divider"></li>
															<li><a href="#"><i class="icon-cog3"></i> Settings</a></li>
														</ul>
													</li>
												</ul>
											</div>
											
									</div>
									
									<span class="text-size-small">{{result.description}}</span>
								</div>
								<!-- User details (with sample pattern) -->
							<div class="content-group">
								
								<img src="{{result.thumbnail_url}}"  class="img-responsive" alt="">
								
							</div>
							<div class="panel-footer panel-footer-transparent">
									<div class="heading-elements">
										<ul class="list-inline heading-text">
											<li><like [isLiked]="post.isLiked" [likeCount]="post.likeCount"></like></li>
											<li><a href="#" class="text-grey-600"><i class="icon-comment text-grey-400 position-left"></i> 1,489</a></li>
											<li><a href="#" class="text-default"><i class="icon-share text-pink position-left"></i> 281</a></li>
										
										</ul>
	
										<ul class="list-inline heading-text">
											<li><span class="text-default"><follow [isFollow]="post.isFollow" (change)="onLikeChanged($event)"></follow></span></li>
										</ul>
	
										<a href="#" class="heading-text pull-right">Full article <i class="icon-circle-right2 position-right"></i></a>
									</div>
								</div>
							
							
							
							<!-- /user details (with sample pattern) -->
	
								<div class="panel-body">
										
									<div class="media">
										<div class="media-left">
											<a href="#"><img src="assets/images/5863cb5a7e3f0_why-you-should-consider-dating-african-girls.jpg" class="img-circle img-xs" alt=""></a>
										</div>
	
										<div class="media-body">
											
											<h6 class="media-heading text-size-small text-semibold letter-icon-title">This crud hypocritically <span class="media-annotation pull-right">Yesterday, 12:16</span></h6>
											<span class="media-annotation">Ferret on bowed engagingly kangaroo and split contagious far one dear seagull fidgeted some</span>
	
											<ul class="list-inline mt-5">
												<li>89 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
												<li><a href="#">Reply</a></li>
												<li><a href="#">Edit</a></li>
											</ul>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<a href="#"><img src="assets/images/5976031aa7186_1.jpg" class="img-circle img-xs" alt=""></a>
										</div>
	
										<div class="media-body">
											
											<h6 class="media-heading text-size-small text-semibold letter-icon-title">This crud hypocritically <span class="media-annotation pull-right">Yesterday, 12:16</span></h6>
											<span class="media-annotation">Ferret on bowed engagingly kangaroo and split contagious far one dear seagull fidgeted some</span>
	
											<ul class="list-inline mt-5">
												<li>89 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
												<li><a href="#">Reply</a></li>
												<li><a href="#">Edit</a></li>
											</ul>
										</div>
									</div>
									
	
								</div>
							</div>

						----------------
					</div>

					<div class="col-md-4">

						<!-- Connections -->
						<div class="panel panel-flat">
								

								<div class="category-title">
									<span>People you may know</span>
								</div>
	
								
								<ul class="media-list media-list-linked pb-5">
									 
									<li class="media">
										<a href="#" class="media-link">
											<div class="media-left"><img src="assets/images/16.jpg" class="img-circle img-md" alt=""></div>
											<div class="media-body">
												<span class="media-heading text-semibold">James Alexander</span>
												<span class="media-annotation">UI/UX expert</span>
											</div>
											<div class="media-right media-middle">
												<span class="status-mark bg-success"></span>
											</div>
										</a>
									</li>
	
									<li class="media">
										<a href="#" class="media-link">
											<div class="media-left"><img src="assets/images/6.jpg" class="img-circle img-md" alt=""></div>
											<div class="media-body">
												<span class="media-heading text-semibold">Jeremy Victorino</span>
												<span class="media-annotation">Senior designer</span>
											</div>
											<div class="media-right media-middle">
												<span class="status-mark bg-grey-300"></span>
											</div>
										</a>
									</li>
	
									<li class="media">
										<a href="#" class="media-link">
											<div class="media-left"><img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg" class="img-circle img-md" alt=""></div>
											<div class="media-body">
												<div class="media-heading"><span class="text-semibold">Jordana Mills</span></div>
												<span class="text-muted">Sales consultant</span>
											</div>
											<div class="media-right media-middle">
												<span class="status-mark bg-grey-300"></span>
											</div>
										</a>
									</li>
	
									<li class="media">
										<a href="#" class="media-link">
											<div class="media-left"><img src="assets/images/5863cb5a7e3f0_why-you-should-consider-dating-african-girls.jpg" class="img-circle img-md" alt=""></div>
											<div class="media-body">
												<div class="media-heading"><span class="text-semibold">William Miles</span></div>
												<span class="text-muted">SEO expert</span>
											</div>
											<div class="media-right media-middle">
												<span class="status-mark bg-success"></span>
											</div>
										</a>
									</li>
	
									<li class="media">
										<a href="#" class="media-link">
											<div class="media-left"><img src="assets/images/59639c879aa65_team2.jpg" class="img-circle img-md" alt=""></div>
											<div class="media-body">
												<span class="media-heading text-semibold">Margo Baker</span>
												<span class="media-annotation">Google</span>
											</div>
											<div class="media-right media-middle">
												<span class="status-mark bg-success"></span>
											</div>
										</a>
									</li>
	
									
								</ul>
							</div>
							<!-- /connections -->

						<!-- Vertical form -->
						<div class="panel panel-flat">
					

					<!-- Online users -->
					<div class="sidebar-category">
							<div class="category-title">
								<span>People you may know</span>
								<ul class="icons-list">
									<li><a href="#" data-action="collapse"></a></li>
								</ul>
							</div>
	
							<div class="category-content">
								
								<ul class="media-list">
									<li class="media">
										<a href="#" class="media-left"><img src="assets/images/5863cb5a7e3f0_why-you-should-consider-dating-african-girls.jpg" class="img-circle img-md" alt=""></a>
										<div class="media-body">
											<a href="#" class="media-heading text-semibold">James Alexander</a>
											<span class="text-size-mini text-muted display-block">Santa Ana, CA.</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark border-success"></span>
										</div>
									</li>
	
									<li class="media">
										<a href="#" class="media-left"><img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg" class="img-circle img-md" alt=""></a>
										<div class="media-body">
											<a href="#" class="media-heading text-semibold">Jeremy Victorino</a>
											<span class="text-size-mini text-muted display-block">Dowagiac, MI.</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark border-danger"></span>
										</div>
									</li>
	
									<li class="media">
										<a href="#" class="media-left"><img src="assets/images/16.jpg" class="img-md img-circle" alt=""></a>
										<div class="media-body">
											<a href="#" class="media-heading text-semibold">Margo Baker</a>
											<span class="text-size-mini text-muted display-block">Kasaan, AK.</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark border-success"></span>
										</div>
									</li>
	
									<li class="media">
										<a href="#" class="media-left"><img src="assets/images/59639c879aa65_team2.jpg" class="img-md img-circle" alt=""></a>
										<div class="media-body">
											<a href="#" class="media-heading text-semibold">Beatrix Diaz</a>
											<span class="text-size-mini text-muted display-block">Neenah, WI.</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark border-warning"></span>
										</div>
									</li>
	
									<li class="media">
										<a href="#" class="media-left"><img src="assets/images/6.jpg" class="img-md img-circle" alt=""></a>
										<div class="media-body">
											<a href="#" class="media-heading text-semibold">Richard Vango</a>
											<span class="text-size-mini text-muted display-block">Grapevine, TX.</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark border-grey-400"></span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /online-users -->

						</div>
						<!-- /vertical form -->

					</div>
				</div>
				<!-- /grid -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->