	<!-- Page container -->
	<div class="page-container" @page @imganimate>

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

			
				

				<!-- Rounded thumbs -->
				<h6 class="content-group text-semibold">
					Rounded thumbs
					<small class="display-block">Responsive rounded thumbs</small>
				</h6>

				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption-overflow">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">James Alexander <small class="display-block">Lead developer</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption-overflow">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">Nathan Jacobson <small class="display-block">Lead UX designer</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption-overflow">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">Margo Baker <small class="display-block">Sales manager</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption-overflow">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">Barbara Walden <small class="display-block">SEO specialist</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded thumb-slide">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">Hanna Dorman <small class="display-block">UX/UI designer</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded thumb-slide">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">Benjamin Loretti <small class="display-block">Network engineer</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded thumb-slide">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">Vanessa Aurelius <small class="display-block">Front end guru</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="thumbnail">
							<div class="thumb thumb-rounded thumb-slide">
								<img src="assets/images/placeholder.jpg" alt="">
								<div class="caption">
									<span>
										<a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
										<a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
									</span>
								</div>
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">William Brenson <small class="display-block">Chief officer</small></h6>
				    			<ul class="icons-list mt-15">
			                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
			                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
		                    	</ul>
					    	</div>
				    	</div>
					</div>
				</div>
				<!-- /rounded thumbs-->




				<!-- Horizontal icons -->
				<h6 class="content-group text-semibold">
					Horizontal icons
					<small class="display-block">Card with horizontal icons</small>
				</h6>

				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">James Alexander</h6>
									<p class="text-muted">Lead developer</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">Nathan Jacobson</h6>
									<p class="text-muted">Lead UX designer</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">Margo Baker</h6>
									<p class="text-muted">Sales manager</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">Barbara Walden</h6>
									<p class="text-muted">SEO specialist</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">Hanna Dorman</h6>
									<p class="text-muted">UX/UI designer</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">Benjamin Loretti</h6>
									<p class="text-muted">Network engineer</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">Vanessa Aurelius</h6>
									<p class="text-muted">Front end guru</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="panel panel-body">
							<div class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg" data-popup="lightbox">
										<img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle img-md" alt="">
									</a>
								</div>

								<div class="media-body">
									<h6 class="media-heading">William Brenson</h6>
									<p class="text-muted">Chief officer</p>

									<ul class="icons-list">
				                    	<li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
				                    	<li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
			                    	</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /horizontal icons -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
