<div class="panel-body" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="thumbnail">
            <div class="thumb thumb-rounded">
              <img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg" alt="">
              <div class="caption-overflow">
                <span>
                  <a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                  <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                </span>
              </div>
            </div>
          
            <div class="caption text-center">
              <h6 class="text-semibold no-margin">James Alexander <small class="display-block">Lead developer</small></h6>
              <ul class="icons-list mt-15">
                <li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="thumbnail">
            <div class="thumb thumb-rounded">
              <img src="assets/images/5976031aa7186_1.jpg" alt="">
              <div class="caption-overflow">
                <span>
                  <a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                  <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                </span>
              </div>
            </div>
          
            <div class="caption text-center">
              <h6 class="text-semibold no-margin">Nathan Jacobson <small class="display-block">Lead UX designer</small></h6>
              <ul class="icons-list mt-15">
                <li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="thumbnail">
            <div class="thumb thumb-rounded">
              <img src="assets/images/59639c879aa65_team2.jpg" alt="">
              <div class="caption-overflow">
                <span>
                  <a href="assets/images/59639c879aa65_team2.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                  <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                </span>
              </div>
            </div>
          
            <div class="caption text-center">
              <h6 class="text-semibold no-margin">Margo Baker <small class="display-block">Sales manager</small></h6>
              <ul class="icons-list mt-15">
                <li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="thumbnail">
            <div class="thumb thumb-rounded">
              <img src="assets/images/5863cb5a7e3f0_why-you-should-consider-dating-african-girls.jpg" alt="">
              <div class="caption-overflow">
                <span>
                  <a href="assets/images/5863cb5a7e3f0_why-you-should-consider-dating-african-girls.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                  <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                </span>
              </div>
            </div>
          
            <div class="caption text-center">
              <h6 class="text-semibold no-margin">Barbara Walden <small class="display-block">SEO specialist</small></h6>
              <ul class="icons-list mt-15">
                <li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
