<!-- Page container -->
<div class="page-container">
  <!-- Main content -->
  <div class="content-wrapper">


    <!-- User profile -->
    <div class="row">
      <div class="col-lg-8">
  
    <!-- Course overview -->
    <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title text-semibold">About us</h6>  
       </div>
       <div class="panel-body">
          
          <input type="search"
          class="form-control"
          placeholder="Please enter search term"
          [formControl]="searchField">
   <hr/>
   <ul>
     <li *ngFor="let search of searches">{{ search }}</li>
   </ul>

   
      </div>
      
      </div>
      <!-- /course overview -->

  </div>


  


      
      
        <div class="col-lg-4">
      
          <!-- Simple info widget with icon -->
        <div class="panel panel-body">
            <div class="media no-margin">
              <div class="media-body">
                <h6 class="media-heading text-semibold">Add Location</h6>
                <span class="text-muted">Add your office locations to ensure job applicants and prospective clients find you</span>
              </div>

              <div class="media-right media-middle">
                <i class="icon-location3 icon-2x text-purple-300"></i>
              </div>
            </div>
            <br />
            <p><button type="button" data-toggle="modal" data-target="#modal_theme_add_locations" class="btn btn-info btn-labeled btn-sm"><b><i class="icon-pin-alt"></i></b> Add Location</button></p>

          </div>
          <!-- /simplw info widget with icon -->
        
 

      </div>
    </div>
    <!-- /user profile -->

  </div>
  <!-- /main content -->


</div>
<!-- /page container -->



