	<!-- Page container -->
	<div class="page-container" @page @imganimate>

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">


				<!-- User profile -->
				<div class="row">
					<div class="col-lg-9">
					

			<!-- Cover area -->
				<div class="profile-cover">
					<div class="profile-cover-img" style="background-image: url(assets/images/sample-logos/bg3.jpg); height:250px"></div>
					<div class="media">
						<div class="media-left">
							<a href="#" class="profile-thumb">
								<img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg" class="img-circle" style="width: 120px; height: 120px" alt="">
							</a>
						</div>

						<div class="media-body">
				    		<h1>Hanna Dorman <small class="display-block">UX/UI designer</small></h1>
						</div>

						<div class="media-right media-middle">
							<ul class="list-inline list-inline-condensed no-margin-bottom text-nowrap">
								<li><a href="#" class="btn btn-default"><i class="icon-file-picture position-left"></i> Cover image</a></li>
								<li><a href="#" class="btn btn-default"><i class="icon-file-stats position-left"></i> Statistics</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /cover area -->


				<!-- Toolbar -->
				<div class="navbar navbar-default navbar-xs navbar-component no-border-radius-top">
					<ul class="nav navbar-nav visible-xs-block">
						<li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
					</ul>

					<div class="navbar-collapse collapse" id="navbar-filter">
						<ul class="nav navbar-nav">
							<li routerLinkActive="active current"><a [routerLink]="['/profile/experience']"><i class="icon-portfolio position-left"></i> Experience <span class="badge badge-success badge-inline position-right">3</span></a></li>
							<li routerLinkActive="active current"><a [routerLink]="['/profile/education']"><i class="icon-graduation2 position-left"></i> Education </a></li>
							<li routerLinkActive="active current"><a [routerLink]="['/profile/skills']"><i class="icon-scissors position-left"></i> Skills <span class="badge badge-info badge-inline position-right">0</span> </a> </li>
							<li routerLinkActive="active current"><a [routerLink]="['/profile/portfolio']"><i class="icon-folder position-left"></i> Portfolio</a></li>
						</ul>

						<div class="navbar-right navbar-collapse collapse" id="navbar-filter">
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus2 position-left"></i> Archievements<span class="visible-xs-inline-block position-right"> Options</span> <span class="caret"></span></a>
									<ul class="dropdown-menu dropdown-menu-right">
						
										<li routerLinkActive="active current"><a [routerLink]="['/profile/certification']"><i class="icon-certificate"></i> Certifications</a></li>
										<li routerLinkActive="active current"><a [routerLink]="['/profile/project']"><i class="icon-presentation"></i> Projects</a></li>
										<li routerLinkActive="active current"><a [routerLink]="['/profile/award']"><i class="icon-trophy2"></i> Award & Honor</a></li>
										<li routerLinkActive="active current"><a [routerLink]="['/profile/publication']"><i class="icon-clippy"></i> Publications</a></li>
										<li class="divider"></li>
										
										<li routerLinkActive="active current"><a [routerLink]="['/profile/web-profile']"><i class="icon-file-media"></i> Web Profiles</a></li>
										<li routerLinkActive="active current"><a [routerLink]="['/profile/language']"><i class="icon-cube"></i> Language</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /toolbar -->
				
		
						<div class="tabbable">
														
								<router-outlet></router-outlet>
						</div>
	</div>


					
						<div class="col-lg-3">
            
							<!-- Invitation stats white -->
							<div class="panel text-center bg-grey-400 has-bg-image">
									<div class="panel-body">
										<h6 class="text-semibold no-margin-bottom mt-5">Profile Strength</h6>
										<div class="opacity-75 content-group">Intermediate</div>
										<div class="svg-center position-relative mb-5" id="progress_percentage_three"></div>
									</div>
		
									<div class="panel-body panel-body-accent pb-15">
										<div class="row">
											<div class="col-xs-4">
												<div class="text-uppercase text-size-mini opacity-75">Followers</div>
												<h5 class="text-semibold no-margin">2,483</h5>
											</div>
		
											<div class="col-xs-3">
												<div class="text-uppercase text-size-mini opacity-75">Following</div>
												<h5 class="text-semibold no-margin">1,257</h5>
											</div>
		
											<div class="col-xs-5">
												<div class="text-uppercase text-size-mini opacity-75">&nbsp;&nbsp;Profile Views</div>
												<h5 class="text-semibold no-margin">8,472</h5>
											</div>
										</div>
									</div>
								</div>
							<!-- /invitation stats white -->

						<!-- Seamless button group -->
						<div class="content-group">
							<div class="row row-seamless btn-block-group">
								<div class="col-xs-6">
										
										
									<button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
										<i class="icon-briefcase text-warning-600"></i>
										<span>Profile Strenght</span>
									</button>

									<button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
										<i class="icon-scissors text-warning-400"></i>
										<span>Profile Views</span>
									</button>

									<button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
										<i class="icon-trophy2 text-slate-400"></i>
										<span>Search Appearance</span>
									</button>
								</div>

								<div class="col-xs-6">
									<button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
										<i class="icon-graduation2 text-blue"></i>
										<span>Connections</span>
									</button>

									<button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
										<i class="icon-presentation text-danger-400"></i>
										<span>Add project</span>
									</button>

									<button type="button" class="btn btn-default btn-block btn-float btn-float-lg">
										<i class="icon-certificate text-info-400"></i>
										<span>Add certification</span>
									</button>
								</div>
								<div class="col-xs-6">
								
								
								</div>
							</div>
						</div>
						<!-- /seamless button group -->

						

					</div>
				</div>
				<!-- /user profile -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->









	

















