
<!-- Page container -->
	<div class="page-container" @page>

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

                <div class="row">
	            <div class="col-md-8 col-md-offset-2" @industryanimation>
                        <!-- Pager -->
                        <div class="panel panel-flat width-500">
                                <div class="panel-heading">
                                <h5 class="panel-title">Follow your interest</h5>
                                        <span class="media-annotation">You can follow news feeds relevant to you and your industry, then we can send you daily breifs based on tour interest</span>
                                </div>
                                
                                <div class="panel-body">
                                        <div class="row">
                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-laptop"></i></button>
                                                        <p>Science & Technology</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>
                                        
                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-cash4"></i></button>
                                                        <p>Banking & Finance</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>
                                                                
                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-city"></i></button>
                                                        <p>Real Estate</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>
                                                                
                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-laptop"></i></button>
                                                        <p>Sales & Marketing</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>  
                                        </div>
                                        <div class="row"><p></p></div>
                                         <div class="row">                
                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-library2"></i></button>
                                                        <p>Politics</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>

                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-aid-kit"></i></button>
                                                        <p>Health & Drugs</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>

                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-cogs"></i></button>
                                                        <p>Engineering</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>

                                                <div class="col-md-3 text-center">
                                                        <button type="button" class="btn btn-info btn-float btn-float-lg"><i class="icon-law"></i></button>
                                                        <p>Law</p>
                                                        <button type="button" class="btn btn-default"><i class="icon-plus3 position-left"></i> Follow</button>
                                                </div>
                                        </div>
                                </div>

                                <div class="panel-footer">
                                        <div class="heading-elements">
                                                <span class="heading-text text-semibold"></span>
                                                <ul class="pager pager-xs pull-right">
                                                        
                                                        <li><a routerLink="/buzz"> Continue </a></li>
                                                </ul>
                                        </div>
                                </div>
                            </div>
                            <!-- /pager -->
                          </div>
                        </div>
                              

                        </div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

