<div class="panel panel-white">
    <div class="panel-heading">
      <h6 class="panel-title">My Portfolio</h6>
      <div class="heading-elements">
        &nbsp;&nbsp; <button type="button" data-toggle="modal" data-target="#modal_theme_add_experience" data-popup="tooltip" title="Upload Photo" class="btn border-teal text-teal btn-rounded btn-icon btn-xs"><i class="icon-image2"></i></button> &nbsp;&nbsp;
        <button type="button" data-toggle="modal" data-target="#modal_theme_add_experience" data-popup="tooltip" title="Upload video" class="btn border-teal text-teal btn-rounded btn-icon btn-xs"><i class="icon-video-camera2"></i></button> &nbsp;&nbsp;
        <button type="button" data-toggle="modal" data-target="#modal_theme_add_experience" data-popup="tooltip" title="Upload PDF" class="btn border-teal text-teal btn-rounded btn-icon btn-xs"><i class="icon-file-text3"></i></button>
      </div>
    </div>
    
    <div class="panel-body">
        <div class="caption text-center" style="min-height:350px; padding-top:60px">
            <h1 class="text-thin no-margin">Your is currently empty</h1>
            <p class="text-muted mb-15 mt-5">Show your profile visitors what you can do. Add video, photos and file of your past projects</p>

            <a href="#" class="btn bg-teal"><i class="icon-paperplane position-left"></i> Send invitation</a>
        </div>
    </div>

    
  </div>


  <!-- add experience modal -->
	<div id="modal_theme_add_experience" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Add Experience</h6>
					</div>

					<div class="modal-body">
						
							<div class="form-group">
									<div class="row">
										<div class="col-sm-8">
											<label class="text-semibold">Job title</label>
											<input type="text" placeholder="Eg: Software Engineer" class="form-control">
										</div>
										<div class="col-sm-4">
												<div class="form-group">
														<label class="text-semibold">Employment Type</label>
														<select data-placeholder="Select type..." class="select">
																<option>Founder</option>
																<option>Co-Founder</option>
																<option value="AZ">Full-time</option>
																<option value="CO">Part-time</option>
																<option value="ID">Intern</option>
																<option value="WY">Freelancer</option>
														</select>
												</div>
													
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-5">
											<label class="text-semibold">Company name</label>
											<input type="text" placeholder="Ring street 12" class="form-control">
										</div>

										<div class="col-sm-3">
												<div class="form-group">
														<label class="text-semibold">Industry</label>
														<select data-placeholder="Select type..." class="select">
																<option>Founder</option>
																<option>Co-Founder</option>
																<option value="AZ">Full-time</option>
																<option value="CO">Part-time</option>
																<option value="ID">Intern</option>
																<option value="WY">Freelancer</option>
														</select>
												</div>
													
										</div>

										<div class="col-sm-4">
											<label class="text-semibold">Location</label>
											<input type="text" placeholder="Lagos , Nigeria" class="form-control">
										</div>
									</div>
								</div>

								

								<div class="form-group">
									<div class="row">
											<div class="col-sm-3">
												<div class="form-group">
													<label class="text-semibold">From</label>
													<select data-placeholder="Select type..." class="select">
															<option>January</option>
															<option>February</option>
															<option value="AZ">March</option>
															<option value="CO">April</option>
															<option value="ID">May</option>
															<option value="WY">June</option>
															<option value="AZ">July</option>
															<option value="CO">August</option>
															<option value="ID">September</option>
															<option value="WY">October</option>
															<option value="AZ">November</option>
															<option value="CO">December</option>
													</select>
												</div>		
											</div>

											<div class="col-sm-2">
													<div class="form-group">
														<label>&nbsp;&nbsp;</label>
														<select data-placeholder="Select type..." class="select">
																<option>1980</option>
																<option>1981</option>
																<option value="AZ">1982</option>
																<option value="CO">1983</option>
																<option value="ID">1984</option>
																<option value="WY">1985</option>
														</select>
													</div>		
												</div>

												<div class="col-sm-3">
														<div class="form-group">
															<label class="text-semibold">To</label>
															<select data-placeholder="Select type..." class="select">
																	<option>January</option>
																	<option>February</option>
																	<option value="AZ">March</option>
																	<option value="CO">April</option>
																	<option value="ID">May</option>
																	<option value="WY">June</option>
																	<option value="AZ">July</option>
																	<option value="CO">August</option>
																	<option value="ID">September</option>
																	<option value="WY">October</option>
																	<option value="AZ">November</option>
																	<option value="CO">December</option>
																	</select>
														</div>		
													</div>

													<div class="col-sm-2">
															<div class="form-group">
																<label class="text-semibold">&nbsp;&nbsp;</label>
																<select data-placeholder="Select type..." class="select">
																		<option>1980</option>
																		<option>1981</option>
																		<option value="AZ">1982</option>
																		<option value="CO">1983</option>
																		<option value="ID">1984</option>
																		<option value="WY">1985</option>
																</select>
															</div>		
													</div>
													<div class="col-sm-2">
															<div class="form-group">
																<label class="text-semibold">Present</label>
																<div class="form-group">
																		<input type="checkbox" required ngModel name="isAgree"  /> &nbsp;&nbsp;
																	</div>
															</div>		
													</div>

									</div>
								</div>

								<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label class="text-semibold">Description</label>
												<textarea name="description" class="form-control mb-15" rows="3"  placeholder="Type your job descripto here"></textarea>
											</div>

										</div>
									</div>

									<div class="form-group">
											<input type="checkbox" required ngModel name="isAgree"  /> &nbsp;&nbsp; Make this just my headline
										</div>


					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-info">Save changes</button>
					</div>
				</div>
			</div>
		</div>
    <!-- /add experience modal -->